@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


.header {
  text-align: center;
  padding: 2rem;
}

.header h1 {
  font-family: "Orbitron", serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: #fff;
}

.header input {
  width: 15rem;
  height: 3rem;
}

.header input::placeholder {
  text-align: center;
}

.main_container {
  width: 100%;
}

.class_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5px;
  padding: 0 2rem 2rem;
}